<header>

	<div id="contents">
	    <h1 class="headline">
	      <a href="">Breakers</a>
	    </h1>
	    <div class="social">
	      <i class="fab fa-facebook-square"></i>
	      <i class="fab fa-twitter-square"></i>
	      <i class="fab fa-instagram"></i>
	  </div>

    <div id="sp-menu">
      <h1 class="lecomend"> おすすめ練習動画紹介</h1>
      <ul>
        <li><a href="#">初心者の方</a></li>
        <li><a href="#">中級者の方</a></li>
        <li><a href="#">上級者の方</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

  </header>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
      <li class="nav-list-item"><%= link_to "場所を探す", places_path %></li>
      <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
    </ul>
  </nav>


     <iframe width="430" height="315" src="https://www.youtube.com/embed/TLjsXOj5omA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="500" height="315" src="https://www.youtube.com/embed/4q25_-WXgoI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="430" height="315" src="https://www.youtube.com/embed/mnxVKtwLmVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="430" height="315" src="https://www.youtube.com/embed/MhInTijWHT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="500" height="315" src="https://www.youtube.com/embed/hVLJJZWzWYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="430" height="315" src="https://www.youtube.com/embed/Z2YgNJMz12A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="430" height="315" src="https://www.youtube.com/embed/LIA_gR_vV_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="500" height="315" src="https://www.youtube.com/embed/1fDnS6EVyn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="430" height="315" src="https://www.youtube.com/embed/jS_EvnweWK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
