

<header>
	<div id="contents">
	    <h1 class="headline">
	        <a href="/">Breakers</a>
	    </h1>
	</div>
</header>

<video poster="https://s3-ap-northeast-1.amazonaws.com/break-dancer/Bboy+Venum+-+Moving+Through+The+Dark+(2).mp4" playsinline autoplay muted loop>
    <source src="https://s3-ap-northeast-1.amazonaws.com/break-dancer/Bboy+Venum+-+Moving+Through+The+Dark+(2).mp4" type="video/webm">
    <source src="https://s3-ap-northeast-1.amazonaws.com/break-dancer/Bboy+Venum+-+Moving+Through+The+Dark+(2).mp4" type="video/mp4">
</video>

<p class="login"><%= link_to "Login", new_user_session_path %></p>
<p class="sign"><%= link_to "Sign up", new_user_registration_path %></p>


