
<header>

	<div id="contents">
	    <h1 class="headline">
	      <a href="/">Breakers</a>
	    </h1>
	    <div class="social">
	      <i class="fab fa-facebook-square"></i>
	      <i class="fab fa-twitter-square"></i>
	      <i class="fab fa-instagram"></i>
	  </div>
  </header>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item">
        <%= link_to "動画を投稿する", new_article_path %>
      </li>
      <li class="nav-list-item"><%= link_to "場所を探す", places_path %></li>
      <li class="nav-list-item"><%= link_to "つながる", "" %></li>
    </ul>
  </nav>

<!-- <main class="clearfix">
	<div class="place">
		<div>
			
		</div>

	</div>
 -->


<div id ="sample"></div>

<!-- <script src="./sample.js"></script> -->
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAd_8m8kd2dp3E9VtDkJ4nDRugvNJj7JZU&callback=initMap" async></script>















